/* ---------------------------------------------- */
/* 헤더                                            */
.button--category {
  all: unset;
  background-color: var(--color-blue-600);
  color: var(--color-white);
  width: 110px;
  height: 117px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button--category span {
  margin-top: 14px;
  font-size: 12px;
}
.button--category:focus {
  outline: none;
  box-shadow: 5px 5px 5px var(--color-gray-300);
  border-radius: 5px;
}

/* ---------------------------------------------- */

/* ---------------------------------------------- */
/* 내비게이션 
*/
ul {
  margin: 0;
  padding: 0;
}
.icon {
  width: 20px;
  height: 20px;
}

.navigation__list {
  width: 540px;
  height: 500px;
  font-size: 12px;
  position: relative;
  padding-top: 10px;
  box-shadow: 0 10px 20px var(--color-gray-700), 0 6px 6px var(--color-gray-700);
}
/* .navigation__list > li > a {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 5px;
} */
.navigation__list li {
  width: 170px;
  height: 30px;
  margin-left: 20px;
  line-height: 30px;
}

.navigation__list > li svg {
  opacity: 0;
  margin-right: 5px;
}

.navigation__list li > ul {
  display: none;
  position: absolute;
  top: 0%;
  left: 30%;
  width: 180px;
  height: 500px;
}
.navigation__list li > ul::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 1px;
  height: 500px;
  background: var(--color-gray-300);
}

.navigation__list li > ul > li > ul {
  position: absolute;
  right: 0%;
  left: 100%;
}

.navigation__list li > ul.is--active {
  display: block;
  padding-top: 10px;
}

.navigation__list li > a {
  display: inline-block;
  position: relative;
  width: inherit;
}
.navigation__list li > a > svg {
  position: absolute;
  top: 30%;
  right: 25%;
}
.navigation__list li > a.is--active {
  color: var(--color-blue-600);
  font-weight: bold;
}
.navigation__list li > a.is--active svg {
  opacity: 1;
}
.navigation__list li > ul > li > ul > li:first-child:hover {
  color: var(--color-blue-600);
  font-weight: bold;
}
.navigation__list li > ul > li > ul > li:first-child:focus {
  color: var(--color-blue-600);
  font-weight: bold;
}
.new {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(../../assets/icon/new.svg);
}
/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* 메인 콘텐츠                                       */
/* ---------------------------------------------- */
/* 메인 콘텐츠 영역의 최소 높이 설정 */
.main {
  min-height: 52rem;
}

/* ---------------------------------------------- */
/* 푸터                                            */
.footer {
  font-size: 14px;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  background-color: var(--color-gray-200);
  padding: 5px 14px;
}
.con {
  width: 1020px;
  margin: 0 auto;
}
.con-flex {
  width: 1020px;
  margin: 0 auto;
  display: flex;
}
.footer__info-wrap {
  width: 1200px;
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  justify-content: space-between;
}

.footer__logo {
  width: 200px;
  height: 40px;
  background-image: url("../../assets/logo/logo-mono.svg");
  background-repeat: no-repeat;
}

.footer__phone a {
  font-size: 20px;
  font-weight: bold;
}
.rel {
  position: relative;
}
.footer__sns {
  position: absolute;
  right: 0%;
  bottom: 0%;
}
.footer__bottom {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 12px;
  height: 102px;
  color: var(--color-gray-200);
  background-color: var(--color-gray-900);
}
.service__List {
  display: flex;
}
.service__List li {
  padding: 0 8px;
}

/* 두 번째 항목부터 왼쪽에 수직선 추가 */
.service__List li + li {
  border-left: 1px solid var(--color-gray-700);
}
.instar {
  /* instagramBackground */

  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: linear-gradient(
    174.12deg,
    #285aeb 5.61%,
    #bc1888 22.32%,
    #cc2366 36.16%,
    #dc2743 51.91%,
    #e6683c 73.38%,
    #f09433 91.99%
  );
}
.footer__payment-guarantee {
  width: 282px;
  height: 84px;
}
.footer__customer-service {
  width: 293px;
  height: 143px;
}
.footer__phone > a {
  font-size: 48px;
}

/* ---------------------------------------------- */
