/* ---------------------------------------------- */
/* 헤더                                            */
.button--category {
  all: unset;
  background-color: var(--color-blue-600);
  color: var(--color-white);
}

/* ---------------------------------------------- */

/* ---------------------------------------------- */
/* 내비게이션                                        */
/* ---------------------------------------------- */

/* ---------------------------------------------- */
/* 메인 콘텐츠                                       */
/* ---------------------------------------------- */
/* 메인 콘텐츠 영역의 최소 높이 설정 */
.main {
  min-height: 52rem;
}

/* ---------------------------------------------- */
/* 푸터                                            */
/* ---------------------------------------------- */
